<div class="container user-form" style="margin-top: -2.5em;">
  <div class="selection-box light-hover-shadow">
    <div class="user-form-header color-orange mb-2">Edit <%= resource_name.to_s.humanize %></div>
    <hr class="mt-0">
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
      <%= devise_error_messages! %>

      <div class="field form-group">
        <%= f.label :email, class: "text-heavier" %><br />
        <%= f.email_field :email, autofocus: true, class: "form-control" %>
      </div>

      <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
        <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
      <% end %>

      <div class="field form-group">
        <%= f.label :password, class: "text-heavier" %>
        <%= f.password_field :password, autocomplete: "off", class: "form-control", placeholder: "leave blank if you don't want to change it" %>
        <% if @minimum_password_length %>
          <em class="reqd"><%= @minimum_password_length %> characters minimum</em>
        <% end %>
      </div>

      <div class="field form-group">
        <%= f.label :password_confirmation, class: "text-heavier" %><br />
        <%= f.password_field :password_confirmation, autocomplete: "off", class: "form-control" %>
      </div>

      <div class="field form-group">
        <%= f.label :current_password, class: "text-heavier" %>
        <%= f.password_field :current_password, autocomplete: "off", class: "form-control", placeholder: "we need your current password to confirm your changes" %>
      </div>

      <div class="actions">
        <%= f.submit "Update", class: "btn btn-primary btn-50" %>
      </div>
    <% end %>

    <h3 class="color-orange margin-top-5rem ucase">Cancel my account</h3>
    <hr class="mt-0">

    <p class="reqd">Warning: this will permanently delete your account! <%= button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure? This can't be undone!" }, method: :delete, class: "btn btn-danger" %></p>
  </div>
</div>
