<div class="container">
  <div class="selection-box light-hover-shadow">
    <h2>Sign up</h2>

    <%= form_for(resource, as: resource_name, url: registration_path(resource_name), class: "margin-top-6rem") do |f| %>
      <%= devise_error_messages! %>

      <div class="field form-group">
        <%= f.label :email %>
        <%= f.email_field :email, autofocus: true, class: "form-control" %>
      </div>

      <div class="field form-group">
        <%= f.label :password %>
        <% if @minimum_password_length %>
        <em>(<%= @minimum_password_length %> characters minimum)</em>
        <% end %><br />
        <%= f.password_field :password, autocomplete: "off", class: "form-control" %>
      </div>

      <div class="field form-group">
        <%= f.label :password_confirmation %><br />
        <%= f.password_field :password_confirmation, autocomplete: "off", class: "form-control" %>
      </div>

      <%= f.submit "Sign up", class: "btn btn-primary btn-50" %>
    <% end %>
    <div class="margin-top-2rem"><%= render "devise/shared/links" %></div>
  </div>
</div>
