
<div class="container user-form">
  <div class="selection-box light-hover-shadow">
    <div class="user-form-header mb-2 color-orange">Forgot your password?</div>
    <hr class="mt-0">

    <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
      <%= devise_error_messages! %>

      <div class="field form-group">
        <%= f.label :email, class: "text-heavier" %><br />
        <%= f.email_field :email, autofocus: true, class: "form-control" %>
      </div>

      <div class="actions">
        <%= f.submit "Send me reset password instructions", class: "btn btn-primary btn-50" %>
      </div>
    <% end %>
    <div class="margin-top-2rem">
      <%= render "devise/shared/links" %>
    </div>
  </div>
</div>
