<nav class="navbar navbar-toggleable-md navbar-expand-md bg-dark navbar-dark fixed-top">
  <%= link_to "Cat-O-Meter", root_path, class: "navbar-brand" %>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="collapsibleNavbar">
    <ul class="navbar-nav">
      <% if user.present? %>
        <% cat = user.cats.first %>
        <li class="nav-item">
          <% if cat.present? %>
            <%= link_to "Edit Cat Profile", edit_cat_path(cat.id), class: "nav-link" %>
          <% else %>
            <%= link_to "Create Cat Profile", new_cat_path, class: "nav-link" %>
          <% end %>
        </li>
        <li class="nav-item">
          <%= link_to "Account", edit_user_registration_path, class: "nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to "Logout", destroy_user_session_path, method: :delete, class: "nav-link" %>
        </li>
      <% else %>
        <li class="nav-item">
          <%= link_to "Sign Up", new_user_registration_path, class: "nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to "Login", new_user_session_path, class: "nav-link" %>
        </li>
      <% end %>
    </ul>
  </div>
</nav>
