<div class="rating-box selection-box">
  <h3 class="text-center text-xl text-shadow-light color-purple">RATING</h3>
  <div class="reqd" id="rating_error"></div>
  <div><span class="text-weight-heavy">Average:</span> <%= "#{@cat.average_rating.round(2)} (#{@cat.num_ratings} votes)" %></div>
  <hr class="mt-0">
  <div class='rating-stars text-center'>
    <ul id='stars'>
      <li class='star' title='1/10' data-value='1'>
        <i class='fa fa-star fa-fw'></i>
      </li>
      <li class='star' title='2/10' data-value='2'>
        <i class='fa fa-star fa-fw'></i>
      </li>
      <li class='star' title='3/10' data-value='3'>
        <i class='fa fa-star fa-fw'></i>
      </li>
      <li class='star' title='4/10' data-value='4'>
        <i class='fa fa-star fa-fw'></i>
      </li>
      <li class='star' title='5/10' data-value='5'>
        <i class='fa fa-star fa-fw'></i>
      </li>
      <li class='star' title='6/10' data-value='6'>
        <i class='fa fa-star fa-fw'></i>
      </li>
      <li class='star' title='7/10' data-value='7'>
        <i class='fa fa-star fa-fw'></i>
      </li>
      <li class='star' title='8/10' data-value='8'>
        <i class='fa fa-star fa-fw'></i>
      </li>
      <li class='star' title='9/10' data-value='9'>
        <i class='fa fa-star fa-fw'></i>
      </li>
      <li class='star' title='10/10' data-value='10'>
        <i class='fa fa-star fa-fw'></i>
      </li>
    </ul>

    <% if user.present? %>
      <%= form_tag create_rating_cats_path, method: :post, remote: true do %>
        <%= hidden_field_tag :user_id, user.id %>
        <%= hidden_field_tag :cat_id, cat.id %>
        <%= hidden_field_tag :rating, value: nil %>
        <%= submit_tag "Submit Rating", class: "btn btn-primary" %>
      <% end %>
    <% else %>
      <%= link_to new_user_session_path, class: "btn btn-primary" do %>
        <i class="fa fa-lock"></i>  Sign-in to vote!
      <% end %>
    <% end %>
  </div>
</div>

<% content_for :javascript  do %>
  <script>
    $(document).ready(function () {
      Rating.init();
    });
  </script>
<% end %>
