<div class="container user-form">
  <div class="selection-box light-hover-shadow">
    <div class="user-form-header mb-2 color-orange">Log in</div>
    <hr class="mt-0">
    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <div class="field form-group">
        <%= f.label :email, class: "text-heavier" %><br />
        <%= f.email_field :email, autofocus: true, class: "form-control" %>
      </div>

      <div class="field form-group">
        <%= f.label :password, class: "text-heavier" %><br />
        <%= f.password_field :password, autocomplete: "off", class: "form-control" %>
      </div>

      <% if devise_mapping.rememberable? -%>
        <div class="field form-group">
          <%= f.check_box :remember_me %>&nbsp;
          <%= f.label :remember_me, class: "text-heavier" %>
        </div>
      <% end -%>

      <div class="actions">
        <%= f.submit "Log in", class: "btn btn-primary btn-50" %>
      </div>
    <% end %>

    <div class="margin-top-2rem">
      <%= render "devise/shared/links" %>
    </div>
</div>
</div>