<div class='flex-item'>
  <div class="selection-box">
    <div class="form-group text-left">
      <%= label_tag "Name" %>
      <%= text_field_tag "cat[{{id}}][name]", nil,  class: 'form-control', required: true %>
    </div>
    <div class="form-group text-left">
      <%= label_tag "Age"  %>
      <%= number_field_tag "cat[{{id}}][age]", nil,  class: 'form-control', required: true, min: 0 %>
    </div>
    <div class="form-group text-left">
      <%= label_tag "Breed" %>
      <%= text_field_tag "cat[{{id}}][breed]", nil,  class: 'form-control', required: false, placeholder: "(optional)" %>
    </div>
    <div class="form-group text-left">
      <%= label_tag "Bio" %>
      <%= text_area_tag "cat[{{id}}][bio]", nil,  class: 'form-control', required: false, placeholder: "(optional) What makes your cat extra special?" %>
    </div>

    <div class="form-group">
      <%= label_tag "cat[{{id}}][cat_pic]", "Upload Cat Picture {{id}}", class: "file-upload-button" %>
      <%= file_field_tag "cat[{{id}}][cat_pic]", class: "cat_img_{{id}}" %>
      <img id="cat_img_{{id}}_pic" src="http://placehold.it/180" alt="your cat image" class="cat-img-preview" />
    </div>
  </div>
</div>
